
.yith-pt-tst-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 0.7em;
  padding-bottom: 50px;
}

.yith-pt-tst {
  align-items: center;
  background-color: white;
  display: grid;
  grid-template-areas: "badge" "user" "rating" "message" "votes";
  grid-template-rows: 5% 45% 10% 45% 5%;
  box-shadow: 2px 4px 20px 4px rgba(0,0,0,0.12);
  border-radius: 2%;
  width: 290px;
  height: 280px;
  transition: transform 0.4s;
  padding: 10px;
  outline: solid 0px lightblue;
  transition: outline 0.1s linear;
}

.yith-pt-tst-badge{
display: flex;
justify-content: flex-end;
}

.yith-pt-tst-badge span{
font-size: 13px;
border-radius:5px;
padding: 1px 8px;
color: white;
}

.yith-pt-tst-user {
  width: auto;
  align-items: center;
  grid-area: user;
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 30px 20px 0 20px ;

}



.yith-pt-tst .wp-post-image {
width: 70px ;
height: 70px;
border-radius: 50%;
}

.yith-pt-tst-data-user{
display: grid;
grid-template-areas: "name" "rol" "email";
}

.yith-pt-tst-name {
  font-family:'Monaco',sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  grid-area: name;
}

.yith-pt-tst-role-company{
font-size: 14px;
grid-area: rol;
}

.yith-a-web-site{
text-decoration:none;
}


.yith-pt-tst-email {
font-size: 12px;
grid-area: email;
color:blue;
}

.yith-pt-tst-rating {
grid-area: rating;
margin: 0px  0 0 45px;
padding: 1px  0 0 45px;
}

.yith-pt-tst-message {
  color: #4b4b4b;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  grid-area: message;
  margin: 0px 10px 20px 10px;
  padding: 10px;
}

.yith-pt-tst-votes{
display: flex;
grid-area: votes;
padding: 0 0 20px 20px;
margin: 0px 0px 20px 10px;
}


.tst-vip{
border: 3px solid yellow;
}

.highlight:hover {
  outline-width: 10px;
}

.zoom:hover {
transform: scale(1.2);
  
}

.b-star {
font-size: 25px;
color: gray;
}

.y-star {
font-size: 25px;
color:gold;
}




.yith-pt-votes-btn {
text-decoration: none;
font-weight: bold;
}

.yith-pt-votes-btn #votes-btn {
font-size: 15px;
padding: 20px; 
}


@media screen and (min-width: 1280px) {
  .yith-pt-tst-container {
  
  grid-template-columns: 1fr 1fr 1fr;  
}
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .yith-pt-tst-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
  .yith-pt-tst-container {
    grid-template-columns: 1fr;
  }
}