
.yith-pt-testimonials-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1em;
    padding-bottom: 50px;
}

.yith-pt-testimonial {
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-auto-rows: 300px;
    box-shadow: 2px 4px 20px 4px rgba(0,0,0,0.12);
    border-radius: 5%;
    width: 250px;
    transition: transform 0.4s;
    margin: 0.5em;
    outline: solid 0px lightblue;
    transition: outline 0.1s linear;
}

.yith-pt-testimonial-user {
    align-items: center;
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 50px 0 0 30px;

}

.yith-pt-testimonial-name {
    font-family:'Monaco',sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.yith-pt-testimonial-message {
    color: #4b4b4b;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 30px 0px 30px;
    font-size: 14px;
}


.yith-pt-testimonial .wp-post-image {
    
    width: 70px ;
    height: 70px;
    border-radius: 50%;
    
}


.highlight:hover {
    outline-width: 10px;
}

.zoom:hover {
  transform: scale(1.2);
    
}

@media screen and (min-width: 1280px) {
    .yith-pt-testimonials-container {
    
    grid-template-columns: 1fr 1fr 1fr;  
  }
}
  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .yith-pt-testimonials-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
@media screen and (min-width: 480px) and (max-width: 760px) {
    .yith-pt-testimonials-container {
      grid-template-columns: 1fr;
    }
}